<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Assignment description:</strong>
  <%= @grade.assignment_description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @grade.due_date %>
</p>

<p>
  <strong>Student:</strong>
  <%= @grade.student_id %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Manage Grades', grades_path %>
<%= link_to 'Back', grades_path %>
